<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>75267557510-t9r9nu3mf5g77mrnn0ph9n49hr1r427m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.75267557510-t9r9nu3mf5g77mrnn0ph9n49hr1r427m</string>
	<key>API_KEY</key>
	<string>AIzaSyBuLUD8tWa3B1zAmC6L_ZzpIIIBSa6mtFc</string>
	<key>GCM_SENDER_ID</key>
	<string>75267557510</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.arugula.arugula</string>
	<key>PROJECT_ID</key>
	<string>arugula-fire</string>
	<key>STORAGE_BUCKET</key>
	<string>arugula-fire.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:75267557510:ios:c2381344e483d19398e907</string>
	<key>DATABASE_URL</key>
	<string>https://arugula-fire.firebaseio.com</string>
</dict>
</plist>